<div class="card shadow mb-4">
  <div class="card-header py-3">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#addCategoryModal"
    >
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>No</th>
            <th>Category</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < categories.length; i++){ %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= categories[i].name %></td>
            <td>
              <button
                type="button"
                class="btn btn-sm btn-warning btn-circle btn-update"
                data-id="<%= categories[i]._id %>"
                data-name="<%= categories[i].name %>"
              >
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-sm btn-danger btn-circle">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>

          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
