<!-- Modal -->
<div
  class="modal fade"
  id="editBankModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editBankLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editBankLabel">Edit Bank</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/admin/bank?_method=PUT"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div class="form-group">
            <label for="edit-bank-name">Bank Name</label>
            <input
              type="text"
              class="form-control"
              id="edit-bank-name"
              name="bankName"
              placeholder="Bank Name..."
              required
            />
          </div>
          <div class="form-group">
            <label for="edit-account-number">Account Number</label>
            <input
              type="number"
              class="form-control"
              id="edit-account-number"
              name="accountNumber"
              placeholder="Account Number..."
              required
            />
          </div>
          <div class="form-group">
            <label for="edit-account-holder">Account Holder</label>
            <input
              type="text"
              class="form-control"
              id="edit-account-holder"
              name="accountHolder"
              placeholder="Bank Name..."
              required
            />
          </div>
          <div class="form-group">
            <label for="edit-image-url">Image Bank</label>
            <div class="custom-file">
              <input
                type="file"
                class="custom-file-input"
                id="edit-image-url"
                name="image"
              />
              <label class="custom-file-label" for="edit-image-url"
                >Choose file</label
              >
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" id="id-bank" class="id" name="id" />
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
